<nav class="navbar">
  <div class="logo">
    <img src="../assets/images/logo.png " alt="Alumni Connect Logo" />
  </div>
  <ul class="nav-links">
    <li><a href="/home">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/networkinghub">Community Forum</a></li>
    <li><a href="/event">Events</a></li>
    <li><a href="/donations">Donations</a></li>
    <li><a href="/job">Job</a></li>
  </ul>
  <form action="/login">
  <button class="sign-in-btn">Sign In</button>
</form>
</nav>
