<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo">
      <img
        src="../assets/images/logo_afterLogIn.png"
        alt="Alumni Connect Logo"
      />
    </div>
  </div>
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a href="/admin/new"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li>
        <a href="/admin/alumni"><i class="fas fa-users"></i> Alumni</a>
      </li>
      <li>
        <a href="/admin/job"><i class="fas fa-briefcase"></i> Jobs</a>
      </li>
      <li>
        <a href="/admin/forum"><i class="fas fa-comments"></i> Forum</a>
      </li>
      <li>
        <a href="/admin/event"><i class="fas fa-calendar-alt"></i> Events</a>
      </li>
    </ul>
  </nav>
  <div class="sidebar-footer">
    <div class="user-info">
      <img src="../assets/images/profilephoto.jpg" alt="User" />
      <span>Amanda</span>
      <a href="#" class="view-profile"><i class="fas fa-cog"></i> </a>
    </div>
  </div>
</aside>
