<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumni Connect - Event Management</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/AdminEvent.css" />
    <link rel="stylesheet" href="/sidebarAlumni.css" />
  </head>
  <body>
    <div class="dashboard-container">
      <%- include("partials/AlumniSidebar.ejs") %>

      <main class="main-content">
        <header class="main-header">
          <h1>Upcoming Events</h1>
          <p>
            Stay informed about future events with detailed information
            including title, date, time, and location.
          </p>
          <form action="/alumni/event/new" method="get">
            <button class="new-event-btn">+ New</button>
          </form>
        </header>

        <section class="events-grid"></section>
      </main>
    </div>
  </body>
</html>
