<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumni Connect Job Listings</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/sidebarUser.css" />
    <link rel="stylesheet" href="/Userjobapply.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <%- include("partials/UserSidebar.ejs") %>

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="card mt-5">
                <div class="card-header">
                  <h3>Apply for job</h3>
                </div>
                <div class="card-body">
                  <form method="POST" action="/user/applyData">
                    <div class="form-group">
                      <label for="jobName">Name</label>
                      <input
                        type="text"
                        class="form-control"
                        id="jobName"
                        placeholder="Enter your name"
                        name="name"
                      />
                    </div>

                    <div class="form-group">
                      <label for="jobLocation">Email</label>
                      <input
                        type="email"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your email"
                        name="email"
                      />
                    </div>

                    <div class="form-group">
                      <label for="jobLocation">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your Password"
                        name="password"
                      />
                    </div>

                    <div class="form-group">
                      <label for="jobLocation">Phone</label>
                      <input
                        type="number"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your contact number"
                        name="phone"
                      />
                    </div>

                    <div class="form-group">
                      <label for="jobLocation">Skill</label>
                      <input
                        type="text"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your skill"
                        name="skill"
                      />
                    </div>

                    <div class="form-group">
                      <label for="jobLocation">Qualification</label>
                      <input
                        type="text"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your qualification"
                        name="qualification"
                      />
                    </div>

                    <div class="form-group">
                      <label for="jobLocation">Experience</label>
                      <input
                        type="text"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your Experience"
                        name="experience"
                      />
                    </div>

                    <div class="form-group">
                      <input
                        style="display: none"
                        value="<%= title %>"
                        type="text"
                        class="form-control"
                        id="jobLocation"
                        placeholder="Enter your job possition"
                        name="for_post"
                      />
                    </div><button type="submit">Apply</button>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
